<% provide(:title, "Home") %>

<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>


        <% @articles.each do |article| %>
          <div class="article-preview">
            <div class="article-meta">
              <a href="/profile/eric-simons"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
              <div class="info">
                <%= link_to article.user.username, profile_path(article.user.username), class: "author" %>
                <span class="date">January 20th</span>
              </div>
            </div>
            <a href=<%= article_path(article.slug) %> class="preview-link">
              <h1><%= article.title %></h1>
              <p><%= article.description %></p>
              <span>Read more...</span>
            </a>
          </div>
        <% end %>

        <%= paginate @articles %>

    </div>
  </div>
</div>