<h1><%= @user.username %></h1>
<p><%= @user.email %></p>

<div class="col-md-8">
<% if @user.articles.any? %>
  <h3>Articles (<%= @user.articles.count %>)</h3>
    <% @articles.each do |article| %>
      <ol class="articles">
        <%= link_to article.title, article_path(article.title) %>
      </ol>
    <% end %>
  <%= will_paginate @articles %>
<% end %>
</div>